/*
	Helios by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
    WP-Helios by Netural
*/

/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	body,input,textarea,select
	{
		font-size: 13pt;
		line-height: 1.65em;
	}

	.tweet
	{
		text-align: center;
	}

	.timestamp
	{
		display: block;
		text-align: center;
	}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

	#footer
	{
		padding: 4em 2em 4em 2em;
	}
	
/*********************************************************************************/
/* Carousel                                                                      */
/*********************************************************************************/

	.carousel
	{
		padding: 1.25em 0 1.25em 0;
	}

		.carousel article
		{
			width: 18em;
			margin: 0 1em 0 0;
		}