/*
	Helios by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
    WP-Helios by Netural
*/

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#header
	{
	}

		.homepage #header
		{
		}
	
			.homepage #header:after
			{
				display: none;
			}

/*********************************************************************************/
/* Nav                                                                           */
/*********************************************************************************/

	#nav
	{
	}

		#nav > ul > li > ul
		{
			display: none;
		}

/*********************************************************************************/
/* Carousel                                                                      */
/*********************************************************************************/

	.carousel
	{
		overflow-x: scroll;
	}